.imageContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.col1, .col4,.col5{
    width: 820px;
height: 342px;
object-fit: cover;
/* top: 2313px;
left: 145px;
gap: 0px; */
border-radius: 14px;
/* opacity: 0px; */
position: relative;
}

.col1 p, .col4 p,.col5 p{
    position: absolute;
    bottom: 10px;
    left: 40%;
    z-index: 10;
    color: #ffffff;
    font-family: Inter;
font-size: 24px;
font-weight: 600;
line-height: 24px;
/* text-align: center; */

}

.col2 p, .col3 p, .col6 p{
    position: absolute;
    bottom: 10px;
    left: 25%;
    z-index: 10;
    color: #ffffff;
    font-family: Inter;
font-size: 24px;
font-weight: 600;
line-height: 24px;
/* text-align: center; */

}

.col2,.col3,.col6{
    width: 420px;
height: 342px;
/* top: 2313px;
left: 927px;
gap: 0px; */
border-radius: 14px;
/* opacity: 0px; */
object-fit: cover;
position: relative;
}

.practiceCard{
    /* width: 1140px; */
height: 130px;
}

.practiceCard h2{
    text-align: center;
    font-family: Inter;
font-size: 54px;
font-weight: 600;
line-height: 77.23px;
color: #ffffff;
/* text-align: left; */

}