.faq{
    height: 500px;
    /* margin-top: 200px; */
}

.headingFaq{
    color: #ffffff;
    font-family: Inter;
font-size: 54px;
font-weight: 600;
line-height: 74.53px;
text-align: left;

}

.para{
    font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 29.25px;
text-align: left;

}

.accordion-button ,.collapsed,.accordion-body {
    background-color: #1d1d1d !important;
    /* color: #ffffff m !important; */
}

.accordion-body{
    color: #ffffff !important;
    /* opacity: 0.3; */
}

.accordion-button::after{
    background-image: url('../../assests/plus.svg') !important;
    background-color: #e3b748 !important;
}

.accordion-button:not(.collapsed)::after{
    background-image: url('../../assests/dash.svg') !important;
    background-color: #e3b748 !important;
}
.subscribe{
    height: 350px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #47474780;
    margin-bottom: 150px;

}

.emailSub{
    width: 686px;
height: 53px;
/* margin: 20px; */
/* top: 6073px;
left: 377px;
gap: 0px;
opacity: 0px; */

}

.subsInput{
    width: 276px;
height: 53px;
border-radius: 8px 0px 0px 8px;
/* opacity: 0px; */
background-color: #e4e4e4;

}

.subsInput2{
    width: 276px;
height: 53px;
background-color: #e4e4e4;
margin: 0px 5px;

}

.subsBtn{
    width: 116px;
height: 53px;
/* top: 6073px;
left: 947px;
gap: 0px; */
border-radius: 0px 8px 8px 0px;
/* opacity: 0px; */
background-color: #e3b748;

}

.subscribe h2{
    font-family: Helvetica Now Display;
font-size: 55px;
font-weight: 500;
line-height: 75.35px;
text-align: center;
color:#ffffff;
margin-bottom: 20px;
}