.service{
width: 1132px;
height: 174px;
/* top: 1081px;
left: 150px;
gap: 0px;
opacity: 0px; */

}

.serviceCard{
    height: 900px;
}

.serviceHeading{
height: 300px;
display: flex;
justify-content: center;
align-items: center;
}

.serviceHeading h2{
    /* text-align: center; */
/* width: 437px;
height: 77px; */
/* align-content: center; */
color: #ffffff;
font-family: Inter;
font-size: 54px;
font-weight: 600;
line-height: 77.23px;
text-align: left;


}

.about{
/* width: 630px ; */
height: 174px;
/* top: 1081px;
left: 150px;
gap: 0px;
opacity: 0px; */
border-right: 1px solid #6A6A6A;

}

.about h2{
font-family: Inter !important;
font-size: 72px !important;
font-weight: 600 !important;
line-height: 87.22px !important;
text-align: left !important;
color:#ffffff !important

}
.rightAbout{
/* width: 371px; */
height: 155px;
/* top: 1084px;
left: 807px;
gap: 0px;
opacity: 0px; */

}
.rightAbout h3{
width: 249px;
height: 52px;
/* top: 1084px;
left: 807px;
gap: 0px;
opacity: 0px; */
font-family: Inter !important;
font-size: 32px !important;
font-weight: 600 !important;
line-height: 52.01px !important;
text-align: center !important;
color:#ffffff;
margin-left: 10%;


}

.rightAbout p{
width: 475px;
height: 87px;
top: 1152px;
left: 807px;
gap: 0px;
opacity: 0.3px;
font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 29.25px;
text-align: left;
color:#FFFFFF;
margin-left: 10%;
}

.allCard{
 width: 359px !important;
height: 377px;
top: 1615px;
left: 146px;
gap: 0px;
border-radius: 14px 0px 0px 0px;
border: 1.4px 0px 0px 0px;
opacity: 0px;
background: #1D1D1D;

}