.card{
    width: 359px !important;
height: 377px !important;
/* top: 1615px !important;
left: 146px !important;
gap: 0px !important; */
border-radius: 14px !important;
border: 1.4px !important;
/* opacity: 0px !important; */
background: #1D1D1D !important;
padding: 25px !important;
}

.card:hover{
background: #2E2E2E !important;

}

.subtitle{
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
color:#ffffff;
}

.card-title{
    margin-top: 10px;
    width: 215px !important;
height: 24px !important;
/* top: 1772px !important;
left: 169px !important;
gap: 0px !important; */
/* opacity: 0px; */
font-family: Inter !important;
font-size: 24px !important;
font-weight: 600 !important;
line-height: 24px !important;
text-align: left !important;
color:#ffffff
}

.card-text{
    margin-top: 20px;
    width: 293px;
height: 69px;
/* top: 1822px;
left: 169px;
gap: 0px;  */
opacity: 0.3; 
font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 22.75px;
text-align: left;
color:#ffffff

}

.customBtn{
    margin-top: 10px;
    width: 121px !important;
height: 43px !important;
/* top: 1913px;
left: 169px;
gap: 0px; */
border-radius: 23.5px !important;
/* opacity: 0px; */
background: #E3B748;
width: 73px;
height: 23px;

font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 22.75px;
text-align: center;
align-content: center;
color:#000000



}

.customBtn:hover{
color:white;
background-color: black;
border :2px solid white
}

.teamCard{
    display: flex;
    gap: 25px;
width: 344px;
height: 109px;
border-radius: 14px;
padding:20px;
transition: all 0.5s;
/* transform: translate(0.5); */
}
.teamCard:hover{
    background-color: #E3B748;
}
.teamCard2{
    display: flex;
    gap: 25px;
width: 344px;
height: 109px;
border-radius: 14px;
background-color: #E3B748;
padding:20px;
}